<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Sucessfull</title>
</head>
<body>
    <section class="container">
        <div class="main-image">
        </div>
        <div class="content">
            <div class="form-container">
              <h1>Sucessfull Login</h1>
              <div class="info-container">
                <h2>Name: <span><%= name %></span></h2>
                <h2>Email: <span><%= email %></span></h2>
                <h2>Date: <span><%= date %></span></h2>
              </div>
            </div>
        </div>
    </section>
</body>
</html>